html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.section-header, .steps-header, .steps-name {
  color: #446CB3;
  font-weight: 400;
  font-size: 1.2em;
}
.steps-header {
  margin-bottom: 20px;
  text-align: center;
}
.steps-timeline {
  outline: 1px dashed rgba(255, 0, 0, 0);
}
@media screen and (max-width: 500px) {
  .steps-timeline {
    border-left: 2px solid #674172;
    margin-left: 25px;
  }
}
@media screen and (min-width: 500px) {
  .steps-timeline {
    border-top: 2px solid #674172;
    padding-top: 40px;
    margin-top: 45px;
    margin-left: 10%;
    margin-right: 10%;
  }
}
.steps-timeline:after {
  content: "";
  display: table;
  clear: both;
}
.steps-one, .steps-two, .steps-three, .steps-four, .steps-five {
  outline: 1px dashed rgba(0, 128, 0, 0);
}
@media screen and (max-width: 500px) {
  .steps-five {
    margin-bottom: -100%;
  }
  .steps-one, .steps-two, .steps-three, .steps-four, .steps-five {
    margin-left: -8px;
  }
}
@media screen and (min-width: 500px) {
  .steps-five {
    margin-left: 4.65%;
    margin-right: -13.65%;
  }
  .steps-one {
    margin-left: -12.65%;
    margin-right: 5.65%;
  }
  .steps-one, .steps-two, .steps-three, .steps-four, .steps-five {
    float: left;
    width: 23%;
    margin-top: -48px;
  }
  .steps-one, .steps-two, .steps-three, .steps-four {
    padding-bottom: 40px;
  }
}
.steps-img {
  display: block;
  margin: auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  border: 1px solid #674172;
}

.steps-name, .steps-description {
  margin: 0;
}

@media screen and (max-width: 500px) {
  .steps-img {
    float: left;
    margin-right: 20px;
  }
  .steps-name {
    text-align: left;
    margin-left: 10px;
  }
  .steps-description {
    text-align: left;
    margin-left: 36px;
  }

  .portfolio-div {
    margin-top: 40px;
  }
}
@media screen and (min-width: 500px) {
  .steps-name {
    text-align: center;
  }
}
.steps-description {
  overflow: hidden;
  font-size: 1.1rem;
  margin-top: 2px;
}
@media screen and (min-width: 500px) {
  .steps-description {
    text-align: center;
  }
}


