<!-- TODO this file has become a mess, refactor it -->

{% if page.bigimg or page.title %}

<header class="header-section {% if page.bigimg %}has-img{% endif %}" style = 'background-color:white; border:none;'>
<div class="intro-header no-img">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
          {% if include.type == "page" %}
            <hr class="small">
            <span class="{{ include.type }}-subheading">hello world</span>
          {% else %}
            <h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
          {% endif %}
		      {% if include.type == "post" %}
		        <span class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
          {% endif %}

          <!-- STEPS -->
          <section id="Steps" class="steps-section">
            <div class="steps-timeline">
              <div class="steps-one">
                <img class="steps-img" alt="" />
                <h3 class="steps-name">
                  Transfer to Inha.Univ
                </h3>
                <p class="steps-description">
                  2013.02
                </p>
              </div>
              <div class="steps-two">
                <img class="steps-img" alt="" />
                <h3 class="steps-name">
                  Network lab Intern.
                </h3>
                <p class="steps-description">
                  2016.01 ~ 2016.07
                </p>
              </div>

              <div class="steps-three">
                <img class="steps-img" alt="" />
                <h3 class="steps-name">
                  Getcha FE development
                </h3>
                <p class="steps-description">
                  2016.09 ~ 2017.02
                </p>
              </div>
              <div class="steps-four">
                <img class="steps-img" alt="" />
                <h3 class="steps-name">
                  TMON FE Intern.
                </h3>
                <p class="steps-description">
                  2017.06 ~ 2017.08
                </p>
              </div>
              <div class="steps-five">
                <img class="steps-img" alt="" />
                <h3 class="steps-name">
                  NHN Ent.<br/> FE Dev Lab
                </h3>
                <p class="steps-description">
                  2018.01
                </p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
</header>


{% else %}
<div class="intro-header"></div>
{% endif %}
