<!-- TODO this file has become a mess, refactor it -->

{% if page.bigimg or page.title %}

<header class="header-section {% if page.bigimg %}has-img{% endif %}" style = 'background-color:white; border:none;'>
<div class="intro-header no-img">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
          {% if include.type == "page" %}
            <hr class="small">
            <span class="{{ include.type }}-subheading">FE Developer</span>
          {% else %}
            <h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
          {% endif %}
		      {% if include.type == "post" %}
		        <span class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
          {% endif %}

          <!-- STEPS -->
          <section id="Steps" class="steps-section">
            <div class="steps-timeline">
              <div class="steps-one">
                <img class="steps-img" alt="" />
                <h3 class="steps-name">
                  Transfer to Inha.Univ
                </h3>
                <p class="steps-description">
                  2013.02
                </p>
              </div>
              <div class="steps-two">
                <img class="steps-img" alt="" />
                <h3 class="steps-name">
                  Network lab Intern.
                </h3>
                <p class="steps-description">
                  2016.01 ~ 2016.07
                </p>
              </div>

              <div class="steps-three">
                <img class="steps-img" alt="" />
                <h3 class="steps-name">
                  Getcha FE development
                </h3>
                <p class="steps-description">
                  2016.09 ~ 2017.02
                </p>
              </div>
              <div class="steps-four">
                <img class="steps-img" alt="" />
                <h3 class="steps-name">
                  TMON FE Intern.
                </h3>
                <p class="steps-description">
                  2017.06 ~ 2017.08
                </p>
              </div>
              <div class="steps-five">
                <img class="steps-img" alt="" />
                <h3 class="steps-name">
                  NHN Ent. FE Dev Lab
                </h3>
                <p class="steps-description">
                  2018.01
                </p>
              </div>
            </div>
          </section>


          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 portfolio-div" style="text-align: left">
            <h3 id="section">Hello!🤔</h3>
            <ul>
              <li>
                Drop out of Suwon Univ. Department of Electronic Engineering(2011)
              </li>
              <li>
                Transfer to Department of Computer Science in Inha Univ.(2013.02)
              </li>
              <li>
                Network lab Intern.
                <ul>
                  <li>2016.01 ~ 2016.07</li>
                  <li>Reasearch on SDN, OpenDayLight</li>
                </ul>
              </li>
              <li>
                Getcha FE development
                <ul>
                  <li>2016.09 ~ 2017.02</li>
                  <li><strong>HTML / CSS / JS / jQuery / JSP</strong></li>
                  <li><a href="https://getcha.kr/">https://getcha.kr/</a></li>
                </ul>
              </li>
              <li>
                TMON FE Intern.
                <ul>
                  <li>2017.06 ~ 2017.08</li>
                  <li><strong>React.js / Redux</strong></li>
                  <li><a href="http://www.ticketmonster.co.kr">http://www.ticketmonster.co.kr</a></li>
                  <li><a href="https://slides.com/junghan/portfolio#/8">Portfolio Link >></a></li>
                </ul>
              </li>
              <li>Inha Univ. CTP Algorithm Study Team Activities(2013~2017)</li>
              <li>Inha Univ. Likelion Web Development Team Activities(2017.03 ~ 2017.12)</li>
              <li>Graduate in Computer Science in Inha Univ.(2013~2018)</li>
              <li>
                <strong>Work for NHN Entertainment FE Development lab</strong>
                <ul>
                  <li>2018.01 ~</li>
                  <li><strong>JavaScript</strong></li>
                  <li><a href="https://github.com/nhnent/fe.javascript">https://github.com/nhnent/fe.javascript</a></li>
                  <li><a href="http://ui.toast.com/">TOAST UI🧐 >></a></li>
                  <li><a href="https://file.toast.com/">TOAST FILE🤩 >></a></li>
                </ul>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</header>


{% else %}
<div class="intro-header"></div>
{% endif %}
